<h1>Items</h1>

<add-item></add-item>

<div>
  <div *ngFor="let item of pendingItems | async" class="panel panel-default" dnd-draggable [dragEnabled]="true" [dragData]="item">
    <div class="panel-body">
      <item [item]="item"></item>
    </div>
  </div>
</div>

<br>

<h1>Items done</h1>
<div dnd-droppable class="panel panel-info" (onDropSuccess)="markAsDone($event)">
  <div class="panel-heading">Place to drop</div>
  <div class="panel-body">
  </div>
</div>

<div>
  <div *ngFor="let item of doneItems | async" class="panel panel-default" dnd-draggable [dragEnabled]="true" [dragData]="item">
    <div class="panel-body">
      <item [item]="item"></item>
    </div>
  </div>
</div>
